@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: #fff;
    transition: 0.5s;
}
.banner::before{
    content: '';
    position: absolute;
    top: 10%;
    left: 30%;
    width: 150px;
    height: 150px;
    background: url("images/dots.png");
    background-size: cover;
    animation: animateColor 10s linear infinite;
    transition-delay: -5s;
}
.banner.night{
    background: #333;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    color: #333;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
}
nav .logo span{
    color: #2196f3;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    color: #333;
    transition: 0.5s;
}
nav ul li a:hover{
    color: #2196f3;
}
.content{
    position: relative;
    max-width: 700px;
    z-index: 10;
}
.content h3{
    font-size: 2em;
    color:#333;
    font-weight: 200;
    transition: 0.5s;
}
.content h2{
    font-size: 4.5em;
    color: #333;
    font-weight: 600;
    transition: 0.5s;
    white-space: nowrap;
}
.content h2 span{
    color: #e91e63;
}
.content p{
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
    transition: 0.5s;
}
.content button{
    position: relative;
    background: #2196f3;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 35px;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    margin-right: 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.content button.chat{
    background: transparent;
    color: #333;
}
.content button.chat i{
    position:relative;
    top: 5px;
    color: #e91e63;
    font-size: 1.5em;
}
.sci{
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
}
.sci li{
    list-style: none;
}
.sci li a{
    transition: 0.5s;
    text-decoration: none;
    font-size: 1.75em;
    color: #333;
}
.sci li a:hover{
    color: #2196f3;
}
.dayNight{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    border-radius: 50%;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
}
.banner.night .dayNight{
    background: #444;
    color: #fff;
}
.dayNight .bi-sun,
.banner.night .dayNight .bi-moon{
    display: none;
}
.banner.night .dayNight .bi-sun{
    display: block;
}
.banner.night nav .logo,
.banner.night .content h2,
.banner.night .content h3,
.banner.night .content p,
.banner.night .content button.chat,
.banner.night .sci li a,
.banner.night nav ul li a
{
    color: #fff;
}
.banner.night .sci li a:hover{
    color: #2196f3;
}
.banner.night nav ul li a:hover{
    color: #2196f3;
}
img{
    pointer-events: none;
}
.colors{
    position: absolute;
    right: 0;
    max-width: 800px;
    animation: animateColor 8s ease-in-out infinite;
}
@keyframes animateColor{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(50px);
    }
}
.hero{
    position: absolute;
    right: 100px;
    bottom: 0;
    max-height: 85vh;
    animation: animateHero 8s ease-in-out infinite;
}
@keyframes animateHero {
    0%,100%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-50px);
    }
}